name: Deploy para VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure SSH
      uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Deploy on VPS
      run: |
        ssh -o StrictHostKeyChecking=no root@93.115.21.183 'bash -s' <<'ENDSSH'
          cd /root/regiz_site_backend || git clone git@github.com:regizgrafica/regiz_site_backend.git /root/regiz_site_backend
          cd /root/regiz_site_backend
          git pull origin main
          docker-compose down
          docker-compose up -d --build
        ENDSSH